#pragma code_page(1252)
#include <windows.h>
#include "resource.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Kirifox Project\0"
            VALUE "FileDescription",  "kiri System Deploy Overlay\0"
            VALUE "FileVersion",      "1.0.0.1\0"
            VALUE "InternalName",     "KDO\0"
            VALUE "LegalCopyright",   "© Kirifox Project. All rights reserved.\0"
            VALUE "OriginalFilename", "KDO.exe\0"
            VALUE "ProductName",      "kiri System Project\0"
            VALUE "ProductVersion",   "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

